{% extends './layout.html' %}

{% block content %}
<div class="container">
    <h1>Home</h1>
    <p>Welcome to Patrick's Cars</p>
    
    <form action="http://127.0.0.1:5000/api/status-update" method="POST" class="form-inline">
        
        <div class="form-group mb-2 w-75 pr-3">
            <label for="make" class="sr-only">What is the make?</label>
            <input type="text" class="form-control w-100" name="make" id="make" placeholder="How are you feeling today?">
        </div>
        <div class="form-group mb-2 w-75 pr-3">
            <label for="model" class="sr-only">What is the model?</label>
            <input type="text" class="form-control w-100" name="model" id="model" placeholder="How are you feeling today?">
        </div>
        <div class="form-group mb-2 w-75 pr-3">
            <label for="year" class="sr-only">What is the year of the vehicle?</label>
            <input type="text" class="form-control w-100" name="year" id="year" placeholder="How are you feeling today?">
        </div>
        <div class="form-group mb-2 w-75 pr-3">
            <label for="color" class="sr-only">What color is the vehicle?</label>
            <input type="text" class="form-control w-100" name="color" id="color" placeholder="How are you feeling today?">
        </div>
        <div class="form-group mb-2 w-75 pr-3">
            <label for="price" class="sr-only">What is the price of the vehicle?</label>
            <input type="text" class="form-control w-100" name="price" id="price" placeholder="How are you feeling today?">
        </div>
        <button type="submit" class="btn btn-primary mb-2 w-25">Add Car</button>
    </form>

    {% for p in posts %}
        <div class="card mb-2">
            <div class="card-body">
                <p>{{ p.body }}</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <span>{{ p.get_user().username }}</span>
                <span>{{ p.date_created }}</span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}